{"filter":false,"title":"cloud9-RaiseTech-4-5.conf.j2","tooltip":"/roles/nginx/templates/cloud9-RaiseTech-4-5.conf.j2","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":6,"column":17},"end":{"row":6,"column":30},"action":"remove","lines":["13.113.15.224"],"id":18},{"start":{"row":6,"column":17},"end":{"row":6,"column":30},"action":"insert","lines":["18.183.186.68"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":30},"end":{"row":6,"column":30},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1642685388510,"hash":"da380546bcdd9e308ae78045587e6e4ac44555b1"}